.header {
    padding-top: 2rem;
    height: 25.5rem;
    width: 100%;
    color: black;
}

.oi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #00b606;
    border-radius: 3rem;
    animation: changeColortwo;

}

.oi, .icon {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    animation: changeColor;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes changeColor {

    0% {
        color: #ffee00;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #ffee00;

    }

}

@keyframes changeColortwo {

    0% {
        background-color: #00b606;
    }

    50% {
        background-color: #210084;
    }

    100% {
        background-color: #00b606;

    }

}